* {
    font-family:"Andale Mono", AndaleMono, monospace;
}

header{
    padding: 30px;
}

header a{
    text-decoration: none;
}

.timer{
    float: right;
}

.intro-containter{
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    width: 500px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    transform: rotate(357deg);
    display: block;
}

.intro-containter h1{
    padding: 20px;
    font-size: 20px;
}

.start-button{
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: #5fda3d;
}

.question-container{
    margin: auto;
    width: 500px;
    text-align: center;
    display: none;
}

.answer-container{
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    width: 500px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    transform: rotate(357deg);
}

.results-container{
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    width: 500px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    transform: rotate(357deg);
    display: none;
}

